body{
    background-image: linear-gradient(to right, #6e00ff, #5704c9, #410596, #2b0565, #190039);
    font: normal 15pt Arial;
}
section{
    background-color: white;
    border-radius: 10px;
    width: 50%;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    margin: auto;
}
#tabela{
    width: 150px;
}
header{
    color: white;
    text-align: center;
}
footer{
    color: white;
    text-align: center;
}